# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Bagas Cayankkk\Desktop\Kuliah\Semester 5-6\Smst 6\Kecerdasan\Othello\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
